.template {
    display: none !important;
}
.whitelist-site a {
    cursor: default;
    color: #333;
}
.whitelist-site .delete {
    height: 10px;
    padding-right: 0;
    cursor: pointer;
}
.navigation h1 {
    margin-top: 21px;
}

