/**
 * Style page to look like a Chrome info-bar (sorta).
 *
 * Hat-tip to https://github.com/roykolak/chrome-bootstrap
 * for most of the styling.
 */
body {
    font-family: 'Chrome Droid Sans', 'Droid Sans Fallback', 'Lucida Grande', sans-serif;
    font-size: 75%;
    cursor: default;
    margin: 0;
    background-image: url('stripe.png');
    border-top:1px solid #f5f5f5;
    -webkit-user-select: none;
    user-select: none;
}
a {
    border: none;
    color: #15C;
    cursor: pointer;
    font-weight: normal;
    text-decoration: underline;
}
a:hover, a:focus {
    outline: none;
}
button {
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
    -webkit-appearance: none;
    min-height: 2em;
    min-width: 4em;
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    font: inherit;
    margin: 0 1px 0 0;
    text-shadow: 0 1px 0 #F0F0F0;
    line-height: 13px;
    margin-left: 3px;
    margin-right: 3px;
}
button:focus {
    -webkit-transition: border-color 200ms;
    /* We use border color because it follows the border radius (unlike outline).
     * This is particularly noticeable on mac. */
    border-color: #4d90fe;
    outline: none;
}
button:hover {
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    color: black;
}
button:active:enabled {
    background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    box-shadow: none;
    text-shadow: none;
}
.icon {
    position: relative;
    top: 4px;
    margin-right: 4px;
}
.message {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 150px;
    line-height: 34px;
    padding: 0 10px;
}
#pattern {
    font-weight: bold;
}
.actions {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 34px;
}
#close {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}
#close:hover {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
}

